.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topdiv {
    width: 20%;
    display: flex;
    /* justify-content: space-between; */
    margin: 2vw;
}
.topdiv > button {
    margin: 0 2vw;
    font-size: larger;
}

.todos {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.pending, .completed  {
    width: 45%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.pending {
    background-color: rgb(221, 219, 219);
}

.completed {
    background-color: rgb(202, 235, 202);
}

.pending > div, .pending > div {
    width: 100%;
}
#pending {
    text-align: center;
    font-weight: 900;
    padding: 5px;
}

#completed {
    text-align: center;
    font-weight: 900;
    padding: 5px;
}