  <div class="container">
    <div class="topdiv">
      <input [(ngModel)]="description" (ngModelChange)="descriptionChanged()" type="text" placeholder="Enter TODO task">
      <button (click)="addTODO()">+</button>
    </div>
  
    <div class="todos">
      <div class="pending">
        <div id="pending">TO DO</div>
        <div *ngFor="let todo of todos; index as i" >
          <div *ngIf="todo.status===status.Pending">
          <app-todo [todoItem]="todo" (removedtodoItem)="onRemovetodoItem($event)" (statusChanged)="onStatusChange($event)" ></app-todo>
          </div>
        </div>
      </div>
  
      <div class="completed">
        <div id="completed">DONE</div>
        <div *ngFor="let todo of todos; index as i" >
          <div *ngIf="todo.status===status.Completed">
          <app-todo [todoItem]="todo" (statusChanged)="onStatusChange($event)"></app-todo>
          </div>
        </div>
      </div>

    </div>

  </div>

<router-outlet></router-outlet>
