.pending, .completed {
    padding: 5px;
    display: flex;
    justify-content: space-between;
   /* height: max-content; */
    /* overflow-y: scroll; */
    width: 80%;
    margin: 1vw;
    background-color: white;
}